<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiKeyLocation" value="/Users/brucegruenbaum/Workspaces/tsg/tdd-examples/cs/exchangeapi/secrets.config"/>
    <add key="ApiKeyName" value="exchangeapi.com"/>
    <add key="ExchangeApiPairUrl" value="https://v6.exchangerate-api.com/v6/%s/pair/%s/%s"/>
    <add key="ExchangeApiStandardUrl" value="https://v6.exchangerate-api.com/v6/%s/latest/%s"/>
  </appSettings>
</configuration>